name: Deploy Contracts

on:
  workflow_dispatch:
    inputs:
      network:
        description: 'Which network?'
        required: true
        default: 'arbitrumGoerli'
        enum: ['arbitrumGoerli'] # See hardhat configuration
      stage:
        description: 'Which stage?'
        required: true
        default: 'test'
        enum: ['test', 'production']
      task:
        description: 'Which task?'
        required: true
        default: 'deploy dptp futures gateway' # See migrations tasks
  # push:
  #   branches:
  #     - develop
  #     - feat/cd

jobs:
  # prepare:
  #   runs-on: ubuntu-latest
  #   steps:
  #   - name: Checkout code
  #     uses: actions/checkout@v2
  #
  #   - name: Set up Node.js
  #     uses: actions/setup-node@v3
  #     with:
  #       node-version: '18'
  #       cache: 'yarn'
  #
  #   - name: Install dependencies
  #     run: yarn install
  #
  #   - name: Compile contracts
  #     run: yarn compile

    # - name: Upload artifacts folder
    #   uses: actions/upload-artifact@v2
    #   with:
    #     name: hardhat-artifacts
    #     path: artifacts/

    # - name: Run tests
    #   run: npx hardhat test

  deploy:
    runs-on: ubuntu-latest
    needs: prepare
    if: github.event_name == 'workflow_dispatch'
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '18'
        cache: 'yarn'

    - name: Install dependencies
      run: yarn install

    - name: Compile contracts
      run: yarn compile


    - name: Deploy selected contract
      run: npx hardhat deploy --network {{ github.event.inputs.network }} --stage {{ github.event.inputs.stage }} --task ${{ github.event.inputs.task }}
      env:
        ARB_TESTNET_DEPLOYER_KEY: ${{ secrets.ARB_TESTNET_DEPLOYER_KEY }}
        DEFENDER_TEAM_API_KEY: ${{ secrets.DEFENDER_TEAM_API_KEY }}
        DEFENDER_TEAM_API_SECRET_KEY: ${{ secrets.DEFENDER_TEAM_API_SECRET_KEY }}

    - name: Commit and push changes
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git add .
        git commit -m "Update files after deployment" || echo "No changes to commit"
        git push

